body {
  font-family: FatFrank;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin: 0px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

h1 {
  margin: 0;
  font-size: 20vw;
  color: #ff8126;
}

.profile {
  font-size: 2.5vmax;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  max-width: 70ch;
}

.contact {
  font-size: 2.5vmax;
}
.contact a {
  padding-left: 0.2em;
  padding-right: 0.2em;
  color: black;
}
.contact a:hover {
  color: #88b2e9;
}
.contact a:visited {
  color: #88b2e9;
}
